h1 {
  color: #000000;
}
h1 {
  background-color: #7dc4c8;
}
h2 {
  color: #000000;
}
h2 {
  background-color: #7dc4c8;
}

body {
  font-family: agbalumo;
}
.bg-yellow {
  background-color: #fbc103;
  margin: 3px;
}
.bg-purple {
  background-color: #9a57e1;
  margin: 5px;
}
.bg-blue {
  background-color: #53c8d1;
  margin: 5px;
}
.bg-green {
  background-color: #c1ff76;
  margin: 5px;
}
img {
  border-radius: 15%;
}
